<!-- USE *ngFor when direct list-->

<!-- <mat-nav-list>
  <a
    *ngFor="let link of links"
    mat-list-item
    (click)="listItemClick.emit()"
    class="hover:am-text-primary-900"
    routerLink="{{ link.href }}"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="am-text-primary-900"
    #rla="routerLinkActive"
    [ngClass]="{ 'am-text-neutral-800': !rla.isActive }"
  >
    <mat-icon class="mr-3">{{ link.icon }}</mat-icon>
    <span> {{ link.text }}</span>
  </a>
</mat-nav-list> -->

<!-- USE MANUAL WHEN WE WANT DROP DOWNS-->
<mat-nav-list>
  <a mat-list-item 
    routerLinkActive="am-text-primary-900"
    routerLink="/about"
    (click)="listItemClick.emit()"
    class="hover:am-text-primary-900"
    [routerLinkActiveOptions]="{ exact: true }"
    #rla="routerLinkActive"
    [ngClass]="{ 'am-text-neutral-800': !rla.isActive }"
  >
    <mat-icon>add</mat-icon>
    Add Menu Item
  </a>

</mat-nav-list>

